<%- include('header', {title: 'SharePad - Contact Us', css: 'style', homeActive:
'', termsActive: '', aboutActive: '', contactActive: 'active'}) %>
<div class="contents">
  <h1>SharePad</h1>
  <h2>Contact Us</h2>
  <form class="contact-form" id="contact-form">
    <div id="status-message"></div>
    <input type="text" name="user_name" placeholder="Name" required />
    <input type="email" name="user_email" placeholder="Email" required />
    <input type="email" name="app_name" value="SharePad" disabled hidden />
    <textarea
      placeholder="Message"
      cols="30"
      rows="10"
      name="message"
      required
    ></textarea>
    <button type="submit">Send</button>
  </form>
  <div>
    <a target="_blank" href="https://www.linkedin.com/in/pratham-jaiswal/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a target="_blank" href="https://github.com/pratham-jaiswal"
      ><i class="fa-brands fa-github"></i
    ></a>
    <a target="_blank" href="https://www.instagram.com/_pratham.dev/"
      ><i class="fa-brands fa-instagram"></i
    ></a>
    <a target="_blank" href="https://stackoverflow.com/users/14895056/prathamj"
      ><i class="fa-brands fa-stack-overflow"></i
    ></a>
    <a
      target="_blank"
      href="mailto:pratham.jaiswal2020@vitstudent.ac.in?Subject="
      ><i class="fa-solid fa-envelope"></i
    ></a>
  </div>
</div>
<script type="text/javascript">
  (function () {
    emailjs.init({
      publicKey: "<%= emailjsPublicKey %>",
    });
  })();

  window.onload = function () {
    var contactForm = document.getElementById("contact-form");
    var statusMessage = document.getElementById("status-message");

    contactForm.addEventListener("submit", function (event) {
      event.preventDefault();
      emailjs
        .sendForm("<%= emailjsServiceKey %>", "<%= emailjsTemplateId %>", this)
        .then(
          () => {
            statusMessage.textContent =
              "Your message has been successfully sent. We will get back to you as soon as possible.";

            contactForm.reset();
            setTimeout(function () {
              statusMessage.textContent = "";
            }, 5000);
          },
          (error) => {
            statusMessage.textContent =
              "Oops! Something went wrong while sending your message. Please try again later or use alternative contact options below.";

            setTimeout(function () {
              statusMessage.textContent = "";
            }, 5000);
          }
        );
    });
  };
</script>
<%- include('footer') %>
