<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Enhance your productivity with SharePad! It offers advanced formatting options such as font size, styles, and more. Give SharePad a try today!">
  <meta name="keywords" content="SharePad, text editor, online notepad, notepad, shareable text editor, shareable notepad">
  <meta name="author" content="Pratham Jaiswal">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="/images/sharepad.png">
  <link rel="stylesheet" href="/css/<%= css %>.css">
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
  <script src="https://kit.fontawesome.com/6f42fc440c.js" crossorigin="anonymous"></script>
  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="maxxdevs" data-description="Support me on Buy me a coffee!" data-message="" data-color="#BD5FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  <title><%=title%></title>
</head>
<body>
  
  <nav>
    <li><a href="/" class="<%= homeActive %>">Home</a></li>
    <li><a href="/terms" class="<%= termsActive %>">Terms</a></li>
    <li><a href="/about" class="<%= aboutActive %>">About</a></li>
    <li><a href="/contact" class="<%= contactActive %>">Contact</a></li>
  </nav>