<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/<%= css %>.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=<%= adsenseClientId %>" crossorigin="anonymous"></script>
  <title><%=title%></title>
</head>
<body>
  <nav>
    <li><a href="/" class="<%= homeActive %>">Home</a></li>
    <li><a href="/terms" class="<%= termsActive %>">Terms</a></li>
    <li><a href="/about" class="<%= aboutActive %>">About</a></li>
    <li><a href="/contact" class="<%= contactActive %>">Contact</a></li>
  </nav>